@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
}
.image-with-shadow {
  animation: shadowAnimation 3s infinite alternate;
}
@keyframes shadowAnimation {
  0% {
    filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.5));
  }
  100% {
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.5));
  }
}

@media (max-width: 350px) {
  .imageHome{
    bottom: -50px;
  }
}
@media (max-width: 250px) {
  .imageHome{
    display: none;
  }
  .pl-Home{
    padding-left: 0;
  }
}