@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(0,255,149);
    background: linear-gradient(90deg, rgba(0,255,149,0.5074404761904762) 0%, rgba(52,152,219,1) 100%);
    border-radius: 50%;
    animation: animateCircle 3s ease-in-out infinite;
}

@keyframes animateCircle {
    0%, 100% {
        opacity: 0;
        transform: translateY(0) translateX(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-50px) translateX(50px);
    }
}

@media (max-width: 350px) {
  .imageHome{
    bottom: -50px;
  }
}
@media (max-width: 250px) {
  .imageHome{
    display: none;
  }
  .pl-Home{
    padding-left: 0;
  }
}